.card-header {
  background-image: url('../../../../styles/img/header-card.png');
  background-size: auto;
  color: #BA9C66;
  font-family: 'tlozbotw';
  height: 90px;
}

.card-footer {
  background-image: url('../../../../styles/img/footer-card.png');
  background-size: auto;
  height: 80px;
}